<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'/>
        <title>My Movies</title>
    </head>
    <body>
        <h1>My Movies</h1>
        <ul>
            <li><%= @movie.title %></li>
            <%# <li><%= 15.0/6.0 %1></li> %>
            <%# <li><%= Time.now %1></li> %>
        </ul>
        <a href="/movies/new">Add New Movie</a>
    </body>
</html>

